# General configration
{{.Name}}_ENV=production
{{.Name}}_LOGGING_LEVEL=INFO

# API configuration
{{.Name}}_HTTP_LISTEN=0.0.0.0:443

# TLS File provider
{{.Name}}_HTTP_TLSKEY=/certs/domain.tld.key
{{.Name}}_HTTP_TLSCERT=/certs/domain.tld.crt